
#CardMargins {
    display: flex;
    flex-flow: row wrap;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 15px;
}

.projects-section {
    margin-bottom: 5vh;
    margin-top: 5vh;
    text-align: center;
}

.cardPadding {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.technologyIcons {
    
}

@media screen and (max-width: 880px) {
    .technologyIcons {
        display: none;
    }

    .cardHeader {
        font-size: 18px;
    }

    .text-muted {
        font-size: 14px;
    }

    .cardPadding {
        padding-top: 0.5rem;
        padding-right: 0.25rem;
        padding-left: 0.25rem;
    }

    .card {
        margin: 0 5px;
    }
  }

