h1 {
    text-align: center;
    padding-bottom: 1vh;
}

p {
    text-align: center;
    padding-bottom: 1vh;
    font-size: 20px;
}

.contact-section {
    display: flex;
    justify-content: center;
    height: 95vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: #e9ecef;
}

#jumbo {
    align-self: center;
}
